*{
		box-sizing: border-box;	
	}
.main_top{
		max-width: 1000px;
		margin: auto;
	}

#header{
		text-align: center;
		padding: 30px;
		background-color: #ecccc8;
		text-decoration: none;
	}
body{
	    margin: 0;
	    font-family: Helvetica;
	}
img{
		max-width: 100%;
		max-height: 300px;	
	}
.main_menu{
		letter-spacing: 5px;
		text-align: center;
		padding: 20px;
		border: 1px solid;
		border-top-width: 10px;
		border-color: #717171;
		background-color: #ecccc8;
	}
.Gallery-top{
		float: left;
	}