*{
    margin: 0;
    padding: 0;
    max-width: 1140px;
    min-width: 300px;
}
.mp1{
    background-color: red;
    width: 200px;
    height:  200px;
    margin: 0 0 20px 0;
    opacity: 0.5;
    padding: 20px;
    position:  absolute;
    z-index:  1;
    top: 50px;
    left:  50px;
}
.mp2{
    background-color: blue;
    width:  200px;
    height:  200px;
    padding: 20px;
    position:  absolute;
    z-index:  2;
    top: 100px;
    left:  100px;
    opacity: 0.2;
}