*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.nav{
    overflow: hidden;
    padding: 20px 0;
    background-color: rgb(67, 78, 85, .6);
    position: absolute;
    width: 100%;
    top: 0;
}

.logo,.navbar{
    width: 50%;
    float: left;
}

.menu{
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}

.menu__item{
    display: inline-block;
}

.menu__link{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid rgba(0,0,0,0)
}

.menu__link--black-color{
    color: black;
}

.menu__link:hover, .menu__link--active{
    border: 2px solid rgb(75,202,255) ;
    color: rgb(75,202,255);
}

.logo{
    text-transform: uppercase;
    height: 21px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.logo span{
    color: rgb(75,202,255);
}

.header{
    width: 100%;
    position: relative;
    height: 500px;
}

.banner{
    width: 100%;
    height: 500px;
}

.slogan{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.slogan__item{
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-bottom: 15px;
    background-color: rgba(73,84,91,.6);
}

.services{
    background-color: rgb(75,202,255);
    padding: 15px 0;
}

.services__header{
    display: inline-block;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.services__header::after{
    content: "";
    width: 30%;
    display: block;
    border: 2px solid white;
    margin-bottom: 20px;
}

.services__thumbnail{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-bottom: 20px;
}

.services__name{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services__info{
    color: white;
    font-size: 12px;
}

.services__component{
    width: 25%;
    float: left;
    padding-right: 35px;
}

.services__component:last-child{
    padding-right: none;
}

.portfolio{
    padding: 80px 0;
    position: relative;
}

.portfolio__title, .portfolio__navbar{
    width: 50%;
    float: left;
}


.portfolio__name{
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: inline-block;
}

.portfolio__name::after{
    content: "";
    display: block;
    width: 30%;
    border: 2px solid black;
}

.portfolio__imgcontainer{
    width: 270px;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

.noRightPadding{
    margin-right: 0;
}

.portfolio__img{
    width: 100%;
}

.portfolio__img--hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(65,74,81,.5);
    display: none;
}

.portfolio__img--hover a{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.portfolio__imgcontainer:hover .portfolio__img--hover{
    display: block;
}



