/*Head start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.page{
	max-width: 1140px;
	margin: auto;
}
.page-header {
	text-align: center;
	margin: 20px;
}
img{
	width: 100%;
}

h3{
	font-size: 25px;
	color: #3c2f2f;
}
h1{
	text-transform: uppercase;
	font-size: 50px;
	color: #333;
}
div{
	display: block;
}
/*Head end*/
/*Menu bar start*/
.page-menu__navbar ul{
	font-size: 20px;
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}
li{
	float: left;
}
.clear {
	clear: both;
}
li a, .drop-menu{
	display: inline-block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, .drop:hover .drop-menu{
	background-color: #4acf50;
} 
li.drop{
	display: inline-block;
}
/*Sushi*/
.drop-sushi{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-sushi a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-sushi a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-sushi{
	display: block;
}
/*Udon*/
.drop-udon{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-udon a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-udon a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-udon{
	display: block;
}
/*Soba*/
.drop-soba{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-soba a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-soba a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-soba{
	display: block;
}
/*Ramen*/
.drop-ramen{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-ramen a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-ramen a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-ramen{
	display: block;
}
/*Beer*/
.drop-drink{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-drink a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-drink a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-drink{
	display: block;
}
/*Ice-Cake*/
.drop-ice-cake{
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
}
.drop-ice-cake a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.drop-ice-cake a:hover{
	background-color: #4acf50;
}
.drop:hover .drop-ice-cake{
	display: block;
}
/*Menu bar end*/
/*Poster start*/
.page-content__poster{
	list-style: none;
}
.page-content__poster img{
	width: 100%;
	height: 500px;
}
.numbertext{
	text-align: center;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
	margin-top: 50px;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #4acf50;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*Poster end*/
/*Food detail start*/
.gallery-food{
	padding-top: 30px;
	display: block;
	position: relative;
	width: 100%;
}
.food__menu{
	margin-top: 10px;
	width: 33.333333%;
	padding: 50px;
	float: left;
}
.food__menu img{
	background-color: #fefffe;
    border-radius: 50%;
}
.food__menu a{
	text-decoration: none;
}
.food__menu p{
	color: #3c2f2f;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

/*Food detail end*/
/*Footer*/
.page-footer {
	text-align: center;
    padding: 50px;
    border-top: 5px solid white;
    margin-top: 50px;
	font-weight: bold;
    
}
.page-footer p{
	color: white;
	font-size: 24px;
}
h1{
	color: white;
	font-size: 40px;
	font-weight: bold;
}
/*Footer*/