.gallery-sushi{
	width: 100%;
	display: block;
	padding: 30px;
	position: relative;
	background-color: gray;
}
.gallery-menu{
	font-size: 32px;
    padding: 0px 0px 10px 80px;
    display: inline-block;
}
.gallery-menu ul{
	list-style-type: none;
}
.gallery-menu a{
	padding: 10px;
}
.food__sushi{
	height: 400px;
	background-color: #808080;
	border-radius: 20px;
	/*margin:10px;*/
	width: 20%;
	padding:10px;
	float: left;
}
.food__sushi a{
	text-decoration: none;
}
.food__sushi p{
	overflow: hidden;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.food__sushi img{
	border: 5px solid #000;
	border-radius: 20%;
	background-color: white;
}