* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
    background-color: #198fe1;
    text-transform: uppercase;
    border-radius: 5px;
}

body {
    font-family: Arial;
    /* padding: 10px; */
    background: #f1f1f1;
}
.page-container{
    /* padding-top: 20px; */
    max-width: 1140px;
    margin: auto;
}
.clear{
    clear: both;
}
/* Header/Blog Title */
.header {
    padding: 15px;
    text-align: center;
    background: #198fe1;
}
.header-logo{
    width: 400px;
    height: 100px;
}
.header h1 {
    font-size: 50px;
}
.page__search{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #FF9800;
}

/* Style the topnav links */
.topnav li a {
	max-width: 100%;
    float: left;
    display: block;
    font-size: 18px;
    /* font-weight:  bold; */
    color: #0000009e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* transform: skew(-25deg); */
}
/* Change color on hover */
.topnav a:hover {
    background-color: #198fe1;
    color: black;
    transform: skew(-25deg);
}
.topnav .page-search {
    float: right;
  }
  
  .topnav input[type=text] {
    width: 300px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .topnav .page-search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #198fe1;
    font-size: 17px;
    border: none;
    border-radius: 0 5px 5px 0;        
    cursor: pointer;
  }
  
  .topnav .page-search button:hover {
    background: #ff9800;
  }
  .active{
      background-color: #198fe1;
  }
/*Promotion*/
.page-promotion{
    padding-top: 25px;
    /* border-bottom:  2px solid #f1f1f1; */
    border-top: 2px solid #f1f1f1;
    text-transform: uppercase;
    text-align:  center;
    height: 115px;
    background-color: #198fe1;
    /* font-size: 30px; */
}
.page-promotion a{
    letter-spacing: 2px;
    background-color: black;
    text-decoration:  none;
    color: #198fe1;
    font-weight: bold;
    font-size: 40px;
}
.page-promotion a:hover{
    background-color: orange;
}
/* Slideshow container */
.page-slide__show {
    position: relative;
    margin-top:  20px;
  }
  .page-slide__show img{
      height: 700px;
  }
  /* Hide the images by default */
  .mySlides {
      /* margin-top: 50px; */
      display: none;
  }
  .slide__text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: rgba(25, 143, 225,0.6);
      color: #ff9800;
      font-size: 30px;
      font-weight: bold;
      border-radius: 5px;
      padding: 30px;
  }
  .btnCollection{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-61%,-50%);
  }
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* Create two unequal columns that floats next to each other */
.page-column{
    position: relative;
    width: 100%;
}
.page-column__products-btnleft{
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-60%,-20%);
}
.page-column__products-btnright{
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-60%,-80%);


}

/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
button {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;

}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.products{
    text-align: center;
    font-size: 25px;
    /* background-color:  lightsteelblue; */
    /* border-radius: 10px; */
}
.products a{
    text-decoration: none;
}
.products a:hover{
   color: #d01345;
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    /* height: 100%; */
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.card::after{
    content: "";
    border-bottom:5px solid red;
}
.card span{
    text-transform: uppercase;
}
/* Footer */
.footer {
    margin-top: 50px;
    bottom:0;
    width:100%;
    background:#e4e4e4;text-align: center;
}
span{
    font-size: 50px;
    font-weight: bold;
    color: #198fe1;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .mySlides{   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a, .mySlides {
        float: none;
        width: 100%;
    }
}
button {
    border-radius: 10px;
    background-color: #ff9800;
    padding: 10px;
}