.main-content-box{
	width: 1000px;
	margin: auto;
}
img{
	width: 100%;
	height: 300px;
}
.m-box-left{
	width: 70%;
	float: left;
}
.m-box-right{
	padding-top: 10px;
	/*border: 1px solid #717171;*/
	border-radius: 5%;
	width: 30%;
	float: left;
}
.m-box-right p>img{
	margin-left: 10px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}
.box-img{
	width: 50%;
	float: left;
	padding: 15px;
}
.box-img:hover {
   border:0;
}
.subform{
	margin: 25px;
}
.font-blog{
	text-align: center;
	padding: 5px;
	font-size: 30px;
	font-family: "Chiller";
}
.font-me{
	text-align: center;
	font-size: 50px;
	font-family: "Chiller";
}
.font-about{
	margin-left: 5px;
	font-size: 20px;
	font-family: "Helvetica";
}
.date {
	font-size: 20px;
    padding: 2px;
    text-align: center;
}
.social img{
	margin-left: 50px;
	width: 50px;
	height: 50px;
}
.social p{
	float: right;
	margin-top: 15px;
	margin-right: 55px;
}
