<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KM Creatives &mdash; Be a good life!</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>

<body>
    <!-- Start page -->
    <!-- Header start -->
    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
        <div class="container">
            <a href="kmcreative.html" class="probootstrap-logo">KMCreative
                <span>.</span>
            </a>
            <a href="#" class="probootstrap-burger-menu">
                <i>Home</i>
            </a>
            <div class="mobile-menu-overlay"></div>

            <nav class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li>
                        <a class="active" href="kmcreative.html">Home</a>
                    </li>
                    <li>
                        <a href="new-in.html">New in</a>
                    </li>
                    <div class="dropdown">
                        <p class="dropdown">Clothings</p>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="products.html#bras">Bras</a>
                            <a class="dropdown-item" href="products.html#panties">Panties</a>
                            <a class="dropdown-item" href="products.html#sports">Sports</a>
                            <a class="dropdown-item" href="products.html#perfectcoverage">Perfect Coverage</a>
                            <a class="dropdown-item" href="products.html#thong-vstring">Thongs & V-strings</a>
                            <a class="dropdown-item" href="products.html#cheekies">Cheekies & Cheekinis</a>
                            <a class="dropdown-item" href="products.html#bikinis">Bikinis & Briefs</a>
                            <a class="dropdown-item" href="products.html#accessories">Accessories</a>
                        </div>
                    </div>
                    <li>
                        <a href="contact.html"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header end -->
    <!-- Content start -->
    <!-- Content end -->
    <!-- Footer start -->
    <!-- Footer end -->
    <!-- End page -->
    <!-- Bootstrap   -->
    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>