a:link {
		color: black;
}
/*Link sau khi đã click*/
a:visited {
		color: grey;
}
/*Link sau khi trỏ con chuột vào mà chưa click*/
a:hover {
		color: red;
}
/*Link sau khi đã click*/
a:active {
		color: blue;
}
h1{
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}
img{
	max-width: 100%;
	max-height: 300px;
}
.box{
	padding: 15px;
	margin: 2px;
	float: left;
	width: 30%;
	height: 500px;
	text-align: left;
	border:1px solid #dddddd;
	border-top-width: 5px;
}

