*{
	margin: auto;
	max-width: 1140px;
        box-sizing: border-box;
}

.back-img{
  height: 250px;
  margin-top: 10%;
  background-repeat: no-repeat;
}

@keyframes p{ 
	0%  {color: #EFD30F;}
    	25%  {color: #F80A0A;}
    	50%  {color: #00FF12;}
    	75%  {color: #000CFF;}
    	100% {color: #FF00FC;}
}
p{
  font-size: 35px;
  animation: p 5s infinite;
  text-align: center;
  top: 200px;
  left: 200px;
}

@keyframes topmove {from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes mzoom {from{transform:scale(0)} to{transform:scale(2)}}
@keyframes botmove {from{bottom:-300px;opacity:0} to{bottom: 0;opacity:1}}
/* Standard syntax */
.m-1 {
  width: 50%;
  position:relative;animation:topmove 5s infinite}
.m-2 {
  width: 50%;
  animation:mzoom 10s infinite}
.m-3 {
  width: 50%;
  position:relative;animation:botmove 5s infinite}
/* Standard syntax */

